### This generate sample datasets form main kaggle dataset for CNN keras.

In [4]:

import cv2
from matplotlib import pyplot as plt
import numpy as np
 
import pandas as pd

In [5]:
df= pd.read_csv("trainLabels.csv")
df

             image  level
0          10_left      0
1         10_right      0
2          13_left      0
3         13_right      0
4          15_left      1
...            ...    ...
35121  44347_right      0
35122   44348_left      0
35123  44348_right      0
35124   44349_left      0
35125  44349_right      1

[35126 rows x 2 columns]

In [6]:
size=600
df0=  df[df['level'] ==0].head(size) 
df1=  df[df['level'] ==1].head(size) 
df2=  df[df['level'] ==2].head(size) 
df3=  df[df['level'] ==3].head(size) 
df4=  df[df['level'] ==4].head(size) 
df4

             image  level
6          16_left      4
7         16_right      4
184       217_left      4
185      217_right      4
252       294_left      4
...            ...    ...
29880   37783_left      4
29881  37783_right      4
29896   37808_left      4
29897  37808_right      4
29900   37813_left      4

[600 rows x 2 columns]

There is a folder called 'train' which contains all images of dataset

In [7]:
def generate(data,level):
    for name in data.image:
        image = cv2.imread('./train/' + name + '.jpeg', cv2.IMREAD_UNCHANGED)
        #crop image (remove black space)     
        grayscale = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
        ret,thresholded = cv2.threshold(grayscale, 0, 255, cv2.THRESH_OTSU)
        bbox = cv2.boundingRect(thresholded)
        x, y, w, h = bbox
        foreground = image[y:y+h, x:x+w]

        
        resized = cv2.resize(foreground, (300,300),interpolation = cv2.INTER_AREA)
        # CLAHE on all channels
        (B, G, R) = cv2.split(resized)

        clahe = cv2.createCLAHE(clipLimit=2.0, tileGridSize=(8,8))

        c0 = clahe.apply(B)
        c1 = clahe.apply(G)
        c2 = clahe.apply(R)

        merged = cv2.merge([c0, c1, c2])
        
        cv2.imwrite('./newdataset/'+ level +'/'+name + '.jpeg', merged )

In [8]:
generate(df0,'0')
generate(df1,'1')
generate(df2,'2')
generate(df3,'3')
generate(df4,'4')